* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Tahoma, sans-serif; /* Zmiana fontu na Tahoma */
}

h3 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Wyśrodkowane nagłówki */
    margin-top: 20px; /* Margines od góry */
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: #666;
    margin: 20px; /* Margines dla akapitów */
}

/* From Uiverse.io by doniaskima */
.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}

.btn-31 {
  border-width: 1px;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}


#program {

}

#map {
    width: 100%;
    max-width: 600px;
    margin: 20px auto; /* Wycentruj mapę */
    border: 1px solid #ccc;
}


.highlighted {
    font-weight: bold;
    color: red;
}


#interactiveContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Wycentrowanie wewnątrz kontenera */
    width: 100%;
    height: 100px;
    margin-top: 80px; /* Przesunięcie całego kontenera w dół */
}

#interactiveAppText {
    font-size: 18px;
    color: #666;
    margin-right: 20px; /* Odstęp od ikonki */
}

.icon-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-button img {
    width: 80px;
    height: auto;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


#mixerTruckButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px; /* Zmniejszono padding */
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 0px;
    margin-left: 50px;
}

#mixerTruckButton img {
    width: 80px; /* Zmniejszono rozmiar */
    height: auto;
}

#mixerTruckButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style-type: none; /* Wyłączenie wypunktowania */
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px; /* Odstęp między przyciskami */
}

.navbar ul li a {
    text-decoration: none; /* Wyłączenie dekoracji */
    color: #333;
    padding: 10px; /* Padding wewnętrzny dla linków */
    transition: background-color 0.3s; /* Płynne przejście dla hover */
}

.navbar ul li a:hover {
    background-color: #ddd; /* Kolor tła podczas najechania */
}

main {
    display: flex;
    flex-direction: column; /* Pionowy układ */
    align-items: center; /* Wyrównanie w poziomie */
    padding: 50px; /* Padding od środka */
    min-height: calc(80vh - 130px); /* H wysokość pozostawiając miejsce na header i footer */
}

#oferta {
    width: 80%; /* Szerokość kontenera */
}

#ohandlowa {
    margin-bottom: 20px; /* Margines dla nagłówka oferty */
}

.bold-text {
    font-weight: bold; /* Pogrubiony tekst */
    display: inline; /* Umożliwia wyświetlenie w tym samym wierszu */
}

footer {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.partners {
    display: flex;
    justify-content: center; /* Wyśrodkowanie logo partnerów */
    flex-wrap: wrap; /* Umożliwia przenoszenie obrazów */
}

.partners img {
    margin: 10px; /* Margines dla obrazków */
    max-width: 180px; /* Maksymalna szerokość logo partnerów */
}
