<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Beton App</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='incobet_logo.png') }}" alt="Incobet Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('o_firmie') }}" class="o_firmie">O Firmie</a></li>
                <li><a href="{{ url_for('realizacje') }}" class="realizacje">Realizacje</a></li>
                <li><a href="{{ url_for('technologia') }}" class="technologia">Technologia</a></li>
                <li><a href="{{ url_for('oferta') }}" class="oferta">Oferta</a></li>
                <li><a href="{{ url_for('kontakt') }}" class="kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h3>Beton App</h3>
            <h4>
                Przewodnik po dostępnych betonach / Kalkulator betonu, terminu dostawy, przykładowa wycena...
            </h4>
        </div>
    </main>

    <footer>
        <div class="partners">
            <img src="{{ url_for('static', filename='partner1.png') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='partner2.png') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='partner3.png') }}" alt="Partner 3">
        </div>
    </footer>
</body>
</html>
