<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Beton App</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='incobet_logo.png') }}" alt="Incobet Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('o_firmie') }}" class="o_firmie">O Firmie</a></li>
                <li><a href="{{ url_for('realizacje') }}" class="realizacje">Realizacje</a></li>
                <li><a href="{{ url_for('technologia') }}" class="technologia">Technologia</a></li>
                <li><a href="{{ url_for('oferta') }}" class="oferta">Oferta</a></li>
                <li><a href="{{ url_for('kontakt') }}" class="kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h3>Beton App</h3>
        </div>

        <br>
        <br>

        <div id="buttons">
            <button class="btn-31">
                <span class="text-container">
                <span class="text">O betonach</span>
                </span>
            </button>
        </div>

        <br>
        <br>

        <div id="buttons">
    <button class="btn-31" onclick="window.location.href='{{ url_for('kalkulator_route') }}'">
    <span class="text-container">
        <span class="text">Kalkulator</span>
    </span>
</button>

</div>

<div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input type="checkbox" class="toggle">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Log in</div>
                     <form class="flip-card__form" action="{{ url_for('beton_app') }}" method="post">
                            <input class="flip-card__input" name="username" placeholder="username" type="text" required>
                            <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                            <button class="flip-card__btn" type="submit">Let's go!</button>
                     </form>

                  </div>
                  <div class="flip-card__back">
                     <div class="title">Sign up</div>
                     <form class="flip-card__form" action="{{ url_for('beton_app') }}" method="post">
                        <input class="flip-card__input" name="username" placeholder="username" type="text" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn" type="submit">Let's go!</button>
                     </form>


                  </div>
               </div>
            </label>
        </div>
   </div>

    </main>

    <footer>
        <div class="partners">
            <img src="{{ url_for('static', filename='partner1.png') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='partner2.png') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='partner3.png') }}" alt="Partner 3">
        </div>
    </footer>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleSwitch = document.querySelector('.toggle');

        toggleSwitch.addEventListener('change', function () {
            if (toggleSwitch.checked) {
                // Przełącznik jest w pozycji 'włączone'
                fetch('/run_program')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Program uruchomiony:', data);
                    })
                    .catch(error => {
                        console.error('Błąd:', error);
                    });
            }
        });
    });
</script>


</body>
</html>
