<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Kontakt</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='incobet_logo.png') }}" alt="Incobet Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('o_firmie') }}" class="o_firmie">O Firmie</a></li>
                <li><a href="{{ url_for('realizacje') }}" class="realizacje">Realizacje</a></li>
                <li><a href="{{ url_for('technologia') }}" class="technologia">Technologia</a></li>
                <li><a href="{{ url_for('oferta') }}" class="oferta">Oferta</a></li>
                <li><a href="{{ url_for('kontakt') }}" class="kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <center>
                <h3>
                    INCOBET Sp. z o.o.
                </h3>
                    <h4>
                        <br>
                        <p>
                            ul. Żołnierska 29 <br>
                            04-468 Warszawa <br>
                            <br>
                            <b>Zarząd:</b> <br>
                            22 781-79-38 <br>
                            <br>
                            <span class="highlighted">Dział sprzedaży:</span> <br>
                            22 611-91-03 <br>
                            602-391-522 <br>
                            <br>
                            <b>Fax:</b> 22 611-91-03 <br>
                            <br>
                            <b>email:</b> kontakt@incobet.pl <br>
                            <br>
                            NIP: 952-10-00-160 <br>
                            REGON: 011415340 <br>
                            KRS: 0000148599 <br>
                            <br>
                        </p>
                    </h4>
            </center>
        </div>
    </main>

    <footer>
        <div class="partners">
            <img src="{{ url_for('static', filename='partner1.png') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='partner2.png') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='partner3.png') }}" alt="Partner 3">
        </div>
    </footer>
</body>
</html>
