<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Zarządzaj Betonami</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='incobet_logo.png') }}" alt="Incobet Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('o_firmie') }}" class="o_firmie">O Firmie</a></li>
                <li><a href="{{ url_for('realizacje') }}" class="realizacje">Realizacje</a></li>
                <li><a href="{{ url_for('technologia') }}" class="technologia">Technologia</a></li>
                <li><a href="{{ url_for('oferta') }}" class="oferta">Oferta</a></li>
                <li><a href="{{ url_for('kontakt') }}" class="kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Zarządzaj Betonami</h3>

        <h4>Lista dostępnych betonów:</h4>
        <table>
            <thead>
                <tr>
                    <th>Rodzaj Betonu</th>
                    <th>Ilość (m³)</th>
                </tr>
            </thead>
            <tbody>
                {% for beton in betony %}
                <tr>
                    <td>{{ beton.rodzaj }}</td>
                    <td>{{ beton.ilosc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>Dodaj nowy beton:</h4>
        <form action="{{ url_for('manage_betony') }}" method="post">
            <div>
                <label for="rodzaj_betonu">Rodzaj betonu:</label>
                <input type="text" id="rodzaj_betonu" name="rodzaj_betonu" required pattern="[A-Za-z0-9\s]+" title="Rodzaj betonu powinien składać się tylko z liter i cyfr.">

            </div>
            <div>
                <label for="ilosc">Ilość (m³):</label>
                <input type="number" id="ilosc" name="ilosc" step="0.1" min="0" required>
            </div>
            <button type="submit">Dodaj Beton</button>
        </form>
    </main>
    <footer>
        <div class="partners">
            <img src="{{ url_for('static', filename='partner1.png') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='partner2.png') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='partner3.png') }}" alt="Partner 3">
        </div>
    </footer>
</body>
</html>
