<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Oferta Handlowa</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='incobet_logo.png') }}" alt="Incobet">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#" class="o-firmie">O Firmie</a></li>
                <li><a href="#" class="realizacje">Realizacje</a></li>
                <li><a href="#" class="technologia">Technologia</a></li>
                <li><a href="{{ url_for('oferta') }}" class="oferta">Oferta</a></li>
                <li><a href="#" class="kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="ohandlowa">
            <h3>Oferta Handlowa</h3>
        </div>
        <div id="oferta">
            <h4>
                Nasza spółka specjalizuje się w produkcji mieszanek betonowych dla klientów realizujących inwestycje we wszystkich sektorach
                budownictwa. Wykorzystujemy do niej wyłącznie najwyższej jakości składniki, posiadające odpowiednie atesty i certyfikaty.
            </h4>
            <h4>
                Od bieżącego roku dostawy wykonujemy w dwóch wariantach:<br>
                <br>
                <span class="bold-text">Standardowo</span> - usługi świadczymy na terenie Warszawy i okolic, z naszej bazy
                zlokalizowanej przy ulicy Żołnierskiej w Rembertowie.<br>
                <span class="bold-text">Opcjonalnie</span> - jako nowość proponujemy organizację i uruchomienie produkcji w
                dowolnym miejscu (bezpośrednio na placu budowy lub w jej sąsiedztwie), w oparciu o szybko przestawną i wydajną (80m³/godz.)
                betonownię Cobra C 80.
            </h4>
            <h4>
                Przeprowadzone analizy wskazują na opłacalność tego rozwiązania już dla inwestycji wymagających 25.000 m³ betonu.
            </h4>
        </div>
    </main>

    <footer>
        <div class="partners">
            <img src="{{ url_for('static', filename='partner1.png') }}" alt="Partner 1">
            <img src="{{ url_for('static', filename='partner2.png') }}" alt="Partner 2">
            <img src="{{ url_for('static', filename='partner3.png') }}" alt="Partner 3">
        </div>
    </footer>
</body>
</html>
